anndata==0.11.*
ConfigArgParse==1.1
leidenalg==0.11.*
numpy==2.2.*
pandas==2.2.*
PyYAML==6.0.*
requests==2.32.*
scanpy==1.11.*
scikit-learn==1.7.*
scikit-misc==0.5.*
scipy==1.15.*
tensorboardX==2.6.*
torch==2.6.*
torchvision==0.21.*
tqdm==4.67.*
umap-learn==0.5.*
